.div-to-center {
  display: grid;
}

.topic{
  text-align: center;
  font-size: 50px;
  margin-top: 5px;
}

.flex-1{
  display: flex;
  align-items: center;
}

.title{
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
}

.title-textbox{
  font-size: 20px;
  width: 500px;
  margin-right: 20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.description{
  font-size: 25px;
  font-weight: bold;
}

.description-textbox{
  font-size: 20px;
  width: 500px;
  margin-right: 20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.add-todo-button {
  display: inline-block;
  background-color: #4caf50; /* Corrected green background color */
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  width: 200px;
}

.add-todo-button:hover {
  background-color: #45a049;
}

table {
  border-collapse: separate;
  border-spacing: 10px; /* Adjust this value to set the desired spacing */
}

td,
th {
  padding: 10px; /* Optional: Add padding within the cells */
}
